/* ----------- Colors ----------- */

$primary-color:#E07C1F;
$secondary-color: #E4961C;
$black: #000;
$whith: #fff;
$gray: #EBEBEB;

/* ----------- Fonts ----------- */

$heading-font: 'Times New Roman';
$primary-font: 'Tajawal';