.search-section.py-6
    .container
        +headline('ابحث عن العروض المتاحة الان')
        //- Search Form
        .search.mx-auto.w-50
            div(class="input-group flex-row-reverse border-radius box-shadow")
                select#select(name="select").custom-select
                    option(value="0") شقة
                    option(value="0") شقة
                    option(value="0") شقة
                select#select(name="select").custom-select
                    option(value="0") شقة
                    option(value="0") شقة
                    option(value="0") شقة

                div(class="input-group-append")
                    button(class="btn px-3" type="button" id="button-addon2"): i.fa.fa-search
