.banner
    div(id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel")
        h1 اكبر موقع عقاري <br>في المملكة العربية السعودية
        div(class="carousel-inner")
            div(class="carousel-item active")
                div(src="images/banner.jpg" class="d-block bg-imgs img-fluid" style="background-image: url(images/banner.jpg)")
            div(class="carousel-item")
                div(src="images/tb.jpg" class="d-block bg-imgs img-fluid" style="background-image: url(images/tb.jpg)")
        .overlay
